<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
    </configSections>
    <appSettings>
        <!--<add key="extPort" value="2011" />-->
        <!--<add key="extSecurePort" value="2012" />-->
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <socketServer>
        <servers>
            <server name="SuperWebSocket"
                    serviceName="SuperWebSocket"
                    ip="Any" port="2011" mode="Sync">                    
            </server>
            <server name="SecureSuperWebSocket"
                    serviceName="SuperWebSocket"
                    ip="Any" port="2012" mode="Sync" security="tls">
                <!--Please install the certificate to your trusted certificates store, the password is 'supersocket'-->
                <certificate filePath="localhost.pfx"
                             password="supersocket"
                             isEnabled="true"></certificate>
            </server>
        </servers>
        <services>
            <service name="SuperWebSocket"
                     type="SuperWebSocket.WebSocketServer, SuperWebSocket" />
        </services>
    </socketServer>
    <system.diagnostics>
        <trace autoflush="true" />
        <sources>
            <source name="System.Net.Sockets" maxdatasize="1024">
                <listeners>
                    <add name="SocketTrace"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="SocketTrace"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="System.Net.Trace.log" />
        </sharedListeners>
        <switches>
            <add name="System.Net.Sockets" value="Verbose" />
        </switches>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWebSocketService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56936/WebSocketService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWebSocketService"
                contract="CommunicationControllerService.IWebSocketService"
                name="BasicHttpBinding_IWebSocketService" />
        </client>
    </system.serviceModel>
</configuration>
